<div class="row">
  <div class="col-lg-12">
    <h1>Card Rate</h1>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-footer">
    <form name="cardRateForm" novalidate>
      <div class="row">
        <div class="col-sm-3 form-group" show-errors>
          <label class="control-label">Min Average Rate (Count ≥ {{cardRateVm.selectedMinAvgRate}}): </label>
          <input class="form-control" type="number" min="0" max="5" name="minAvgRate"
                 ng-model="cardRateVm.selectedMinAvgRate" ng-change="cardRateVm.getCardRate()"
                 required="required">
          <ng-messages for="cardRateForm['minAvgRate'].$error" class="help-block">
            <p class="error-message" ng-message="required">
              Minimum Average Rate is required!
            </p>
            <p class="error-message" ng-message=min>
              Minimum Average Rate should be bigger than 0
            </p>
            <p class="error-message" ng-message=max>
              Class count should be smaller than 5
            </p>
          </ng-messages>
        </div>
        <div class="col-sm-3 form-group" show-errors>
          <label class="control-label">Max Average Rate (Count ≤ {{cardRateVm.selectedMaxAvgRate}}): </label>
          <input class="form-control" type="number" min="0" max="5" name="maxAvgRate"
                 ng-model="cardRateVm.selectedMaxAvgRate" ng-change="cardRateVm.getCardRate()"
                 required="required">
          <ng-messages for="cardRateForm['maxAvgRate'].$error" class="help-block">
            <p class="error-message" ng-message="required">
              Minimum Average Rate is required!
            </p>
            <p class="error-message" ng-message=min>
              Minimum Average Rate should be bigger than 0
            </p>
            <p class="error-message" ng-message=max>
              Class count should be smaller than 5
            </p>
          </ng-messages>
        </div>
        <div class="col-sm-3 form-group" show-errors>
          <label class="control-label">Min Rate Count (Count ≥ {{cardRateVm.selectedMinRateCnt}}): </label>
          <input class="form-control" type="number" min="0" max="100" name="minRateCnt"
                 ng-model="cardRateVm.selectedMinRateCnt" ng-change="cardRateVm.getCardRate()"
                 required="required">
          <ng-messages for="cardRateForm['minRateCnt'].$error" class="help-block">
            <p class="error-message" ng-message="required">
              Rate count is required!
            </p>
            <p class="error-message" ng-message=min>
              Rate count should be bigger than 0
            </p>
            <p class="error-message" ng-message=max>
              Rate count should be smaller than 100
            </p>
          </ng-messages>
        </div>
        <div class="col-sm-3 form-group" show-errors>
          <label class="control-label">Max Rate Count (Count ≤ {{cardRateVm.selectedMaxRateCnt}}): </label>
          <input class="form-control" type="number" min="0" max="100" name="maxRateCnt"
                 ng-model="cardRateVm.selectedMaxRateCnt" ng-change="cardRateVm.getCardRate()"
                 required="required">
          <ng-messages for="cardRateForm['maxRateCnt'].$error" class="help-block">
            <p class="error-message" ng-message="required">
              Rate count is required!
            </p>
            <p class="error-message" ng-message=min>
              Rate count should be bigger than 0
            </p>
            <p class="error-message" ng-message=max>
              Rate count should be smaller than 100
            </p>
          </ng-messages>
        </div>
        <div class="col-sm-4 form-group">
          <label>Series Id (default = 0): </label>
          <input class="form-control" type="number" min="0" max="100" name="maxRateCnt"
                 ng-model="cardRateVm.selectedSeriesId" ng-change="cardRateVm.getCardRate()"
                 required="required" placeholder="id로 검색">
        </div>
        <div class="col-sm-4 form-group">
          <label>Publisher Id (default = 0): </label>
          <input class="form-control" type="number" min="0" max="100" name="maxRateCnt"
                 ng-model="cardRateVm.selectedPublisherId" ng-change="cardRateVm.getCardRate()"
                 required="required" placeholder="id로 검색">
        </div>
        <div class="col-sm-4 form-group">
          <label>Type: </label>
          <select class="form-control" ng-model="cardRateVm.selectedTypeFilter"
                  ng-change="cardRateVm.getCardRate()">
            <option value="all">All</option>
            <option ng-repeat="type in cardRateVm.availableTypes" value="{{type}}">{{type}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div>
      <h3>Total Card : {{cardRateVm.totalItem}}</h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="col-sm-1 clickable-thead" ng-click="cardRateVm.sortType('card_id')">
            Card Id
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='card_id'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='card_id'"></i>
          <th class="col-sm-2 clickable-thead" ng-click="cardRateVm.sortType('title')">
            Title
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='title'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='title'"></i>
          <th class="col-sm-1 clickable-thead" ng-click="cardRateVm.sortType('avg_rate')">
            Avg Rate
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='avg_rate'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='avg_rate'"></i>
          </th>
          <th class="col-sm-1 clickable-thead" ng-click="cardRateVm.sortType('rate_cnt')">
            Rate Cnt
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='rate_cnt'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='rate_cnt'"></i>
          </th>
          <th class="col-sm-2 clickable-thead" ng-click="cardRateVm.sortType('series_id')">
            Series Id
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='series_id'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='series_id'"></i>
          </th>
          <th class="col-sm-2 clickable-thead" ng-click="cardRateVm.sortType('publisher_id')">
            Publisher Id
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='publisher_id'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='publisher_id'"></i>
          </th>
          <th class="col-sm-2 clickable-thead" ng-click="cardRateVm.sortType('grade_id')">
            Grade Id
            <i class="fa fa-caret-down fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'DESC' && cardRateVm.selectedSortType =='grade_id'"></i>
            <i class="fa fa-caret-up fa-fw"
               ng-if="cardRateVm.selectedOrderBy == 'ASC' && cardRateVm.selectedSortType =='grade_id'"></i>
          </th>
          <th class="col-sm-2 clickable-thead">
            Type
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cardRateVm.dataContainer">
          <td class="col-sm-1">{{item[0]}}</td>
          <td class="col-sm-2">{{item[1]}}</td>
          <td class="col-sm-1">{{item[2]| number}}</td>
          <td class="col-sm-1">{{item[3]| number}}</td>
          <td class="col-sm-2">{{item[4]| series}} ( {{item[4]| number}} )</td>
          <td class="col-sm-2">{{item[5]| publisher}} ( {{item[5]|number}} )</td>
          <td class="col-sm-2">{{item[6]| grade}}
            <span ng-if="item[6] != null">( {{item[6]|number}} )</span></td>
          <td class="col-sm-2">{{item[7]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <uib-pagination boundary-links="true" total-items="cardRateVm.totalItem" ng-model="cardRateVm.currentPage"
                      ng-change="cardRateVm.pageChanged(cardRateVm.currentPage)" items-per-page="20" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
  </div>
</div>
