<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">DAU<!--(Daily Activity User)--></h3>
      </div>
      <div class="panel-body">
        <highchart id="visits" config="visitsStatsVm.lineChartConfig"></highchart>
      </div>
      <div class="panel-footer">
        <form class="form-inline">
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="roleSelectBtn" id="visits-role-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Role:</b> {{visitsStatsVm.selectedRoleFilter | titleCase}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="visits-role-select-btn">
                <li ng-repeat="role in visitsStatsVm.availableRoles">
                  <a href="" ng-click="visitsStatsVm.selectDropdownRole(role)">{{role | titleCase}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="deviceSelectBtn" id="visits-device-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Device:</b> {{visitsStatsVm.selectedDeviceFilter | device}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="visits-device-select-btn">
                <li ng-repeat="device in visitsStatsVm.availableDevices">
                  <a href="" ng-click="visitsStatsVm.selectDropdownDevice(device)"><i class="fa {{visitsStatsVm.iconAliases[device]}} fa-fw"></i> {{device | device}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="countrySelectBtn" id="visits-country-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Country:</b> {{visitsStatsVm.selectedCountryFilter | country}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="visits-country-select-btn">
                <li ng-repeat="country in visitsStatsVm.availableCountries">
                  <a href="" ng-click="visitsStatsVm.selectDropdownCountry(country)"><span class="flag-icon {{visitsStatsVm.iconAliases[country]}}"></span> {{country | country}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" name="update" ng-click="visitsStatsVm.updateData()" id="visits-stats-update-btn"><i class="fa fa-refresh fa-fw"></i> update</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success" name="download" ng-click="visitsStatsVm.fetchAndDownloadCSV()" id="visits-stats-download-btn"><i class="fa fa-share-square-o fa-fw"></i> export CSV</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table table-striped table-bordered table-hover" id="linechart-table">
        <thead>
          <tr>
            <th>Subject</th>
            <th class="text-right">Min. Count</th>
            <th class="text-right">Max. Count</th>
            <th class="text-right">Average</th>
            <th class="text-right">Total Count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in visitsStatsVm.lineChartData">
            <td>{{item.name | titleCase}}</td>
            <td class="text-right">{{visitsStatsVm.getMinimum(item.data) | number}}</td>
            <td class="text-right">{{visitsStatsVm.getMaximum(item.data) | number}}</td>
            <td class="text-right">{{visitsStatsVm.getAverage(item.data) | number:0}}</td>
            <td class="text-right">{{visitsStatsVm.getSum(item.data) | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>