/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

.btn>hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 3px solid #ddd;
}

hr.default-active {
  border-top-color: #434348;
}
.series-btn {
  margin-top: 3px;
  margin-bottom: 3px;
}
#new-downloads>hr.active {
  border-top-color: #7cb5ec;
}
#deleted>hr.active {
  border-top-color: #E4D354;
}
#visits>hr.active {
  border-top-color: #90ed7d;
}
#new-classes>hr.active {
  border-top-color: #f7a35c;
}
#new-schools>hr.active {
  border-top-color: #8085e9;
}
#new-members>hr.active {
  border-top-color: #f15c80;  
}
#au-1day>hr.active {
  border-top-color: #7cb5ec;
}
#au-7day>hr.active {
  border-top-color: #E4D354;
}
#au-14day>hr.active {
  border-top-color: #90ed7d;
}
#au-30day>hr.active {
  border-top-color: #f7a35c;
}
#ac-1day>hr.active {
  border-top-color: #7cb5ec;
}
#ac-7day>hr.active {
  border-top-color: #E4D354;
}
#ac-14day>hr.active {
  border-top-color: #90ed7d;
}
#ac-30day>hr.active {
  border-top-color: #f7a35c;
}
.dashboard-main-panel {
  padding-top: 50px;
  padding-bottom: 50px;
}
.increased {
  color: #387C2C;
}
.decreased {
  color: #ee3524;
}
.dropdown-btn {
  min-width: 160px;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.bar-gauge {
  width: 100%;
  height: 20px;
  border: 1px solid #aaa;
  background-color: #f3f3f3;
}
.gauge-fill {
  background-color: #F18809;
  border-left: 1px solid #aaa;
  width: 0%;
  height: 100%;
}
.grid-mark-container {
  width: 10%;
  height: 5px;
  display: inline-block;
}
.grid-mark {
  height: 100%;
  width: 100%;
  border-left: 1px solid #aaa;
}
.last-grid-mark {
  height: 100%;
  width: 100%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.wide-table {
  width: 100%;
}
.grid-mark-row {
  font-size: 0px;
}
.grid-text {
  color: #aaa;
  font-size: 13px;
}
.ses-sent {
  color: #fc9602;
  font-weight: bold;
}
.ses-remain {
  color: #757575;
  font-weight: bold;
}
.table-cell {
  word-break: break-all;
}
.top-form {
  margin-bottom: 15px;
}
.helper-toggler {
  color: #000;
}
.clickable-thead:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
.clickable-tr:hover {
  cursor: pointer;
  background-color: #E0E0E0 !important;
}
.clickable-td:hover {
  cursor: pointer;
  background-color: #E0E0E0;
}
.helper-toggler:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: #000 !important;
}
.helper-toggler:focus {
  color: #000 !important;
}
.left-shifted-dropdown {
  left: -210%;
}
.table>thead>tr>th.rowspan-cell {
  vertical-align: middle;
}
.table-fixed {
  overflow-y: auto;
  height: 460px;
}
.modal-table {
  font-size: 12px;
}
@media (min-width: 992px) {
  .modal-lg {
      width: 1100px;
  }
}
.text-right-media {
  text-align: left;
}
@media (min-width: 1200px) {
  .text-right-media {
    text-align: right;
  }
}
.range-text {
  margin-top:10px;
}