<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Active Users</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="startDate">Range: </label>
            <input type="date" id="start-date" class="form-control" name="startDate" ng-model="activeUsersVm.dateRange.startDate"
                   placeholder="yyyy-MM-dd"/>
          </div>
          <div class="form-group">
            <label for="endDate">-</label>
            <input type="date" id="end-date" class="form-control" name="endDate" ng-model="activeUsersVm.dateRange.endDate"
                   placeholder="yyyy-MM-dd"/>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" name="date-update" ng-click="activeUsersVm.lineChartFilter()" id="date-update">Go! <i class="fa fa-arrow-right fa-fw"></i></button>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-success" type="button" name="downloadCSV" id="download-csv-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                export CSV
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="download-csv-btn">
                <li ng-repeat="option in activeUsersVm.availableViews">
                  <a href="" ng-click="activeUsersVm.downloadCSV(option)">{{option}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>{{activeUsersVm.dateRange.startDate | date: 'longDate'}} - {{activeUsersVm.dateRange.endDate | date: 'longDate'}}</h5>
      </div>
      <div class="panel-body">
        <highchart id="linechart" config="activeUsersVm.lineChartConfig"></highchart>
      </div>
      <div class="panel-footer">
        <div class="row">
          <form name="activeUserForm" novalidate>
            <div class="col-sm-4 form-group">
              <label for="roleSelectBtn">Role: </label>
              <select class="form-control" ng-model="activeUsersVm.selectedRoleFilter" name="roleSelectBtn" id="role-select-btn" ng-change="activeUsersVm.lineChartFilter()">
                <option value="all">All</option>
                <option ng-repeat="role in activeUsersVm.availableRoles" value="{{role}}">{{role | titleCase}}</option>
              </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="deviceSelectBtn">Device: </label>
              <select class="form-control" ng-model="activeUsersVm.selectedDeviceFilter" name="deviceSelectBtn" id="device-select-btn" ng-change="activeUsersVm.lineChartFilter()">
                <option value="all">All</option>
                <option ng-repeat="device in activeUsersVm.availableDevices" value="{{device}}">{{device | device}}</option>
              </select>
            </div>
            <div class="col-sm-4 form-group" show-errors>
              <label class="control-label" for="activeCntSelectBtn">Activity Count (Active User: Acitivity ≥ {{activeUsersVm.selectedActivenessCnt}}): </label>
              <input class="form-control" type="number" min="1" max="100" name="activeCnt" ng-model="activeUsersVm.selectedActivenessCnt" ng-change="activeUsersVm.lineChartFilter()" required="required">
              <ng-messages for="activeUserForm['activeCnt'].$error" class="help-block">
                <p class="error-message" ng-message="required">
                  Activity count is required!
                </p>
                <p class="error-message" ng-message="min">
                  Activity count should be bigger than 0
                </p>
                <p class="error-message" ng-message="max">
                  Activity count should be smaller than 100
                </p>
              </ng-messages>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table table-striped table-bordered table-hover" id="linechart-table">
        <thead>
        <tr>
          <th>Subject</th>
          <th class="text-right">Min. Count</th>
          <th class="text-right">Max. Count</th>
          <th class="text-right">Average</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in activeUsersVm.lineChartData">
          <td>{{item.name | titleCase}}</td>
          <td class="text-right">{{activeUsersVm.getMinimum(item.data) | number}}</td>
          <td class="text-right">{{activeUsersVm.getMaximum(item.data) | number}}</td>
          <td class="text-right">{{activeUsersVm.getAverage(item.data) | number:0}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4 dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{activeUsersVm.selectedView | titleCase}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="view in activeUsersVm.availableViews">
                <a href="" ng-click="activeUsersVm.selectDropdownView(view)">{{view | titleCase}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="col-sm-4">Date</th>
          <th class="col-sm-4 text-right">Total</th>
          <th class="col-sm-4 text-right">Change Net / %</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in activeUsersVm.reversedDataContainer">
          <td class="col-sm-4" ng-style="activeUsersVm.getDateColor({{item[0]}})">{{item[0] | date:'yyyy. MM. dd (EEE)'}}</td>
          <td class="col-sm-4 text-right">{{item[1] | number}}</td>
          <td class="col-sm-4 text-right increased" ng-if="item[2] > 0">
            <b>{{item[2] | number}}</b>
            <i class="fa fa-sort-asc fa-fw"></i>
            {{(item[3]) | percentage:2}}
          </td>
          <td class="col-sm-4 text-right decreased" ng-if="item[2] < 0">
            <b>{{item[2] | number}}</b>
            <i class="fa fa-sort-desc fa-fw"></i>
            {{(item[3]) | percentage:2}}
          </td>
          <td class="col-sm-4 text-right" ng-if="item[2] === 0">
            0 <i class="fa fa-fw">-</i> 0.00%
          </td>
          <td class="col-sm-4 text-right" ng-if="item[2] === '-' ">-</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <uib-pagination boundary-links="true" total-items="activeUsersVm.totalItem + 1" ng-model="activeUsersVm.currentPage"
                      ng-change="activeUsersVm.pageChanged(activeUsersVm.currentPage, activeUsersVm.selectedView)" items-per-page="20" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
  </div>
</div>
