<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> Downloaded Cards</h1>
    <!--<div ng-click="downloadedCardVm.exportPDF()">pdf test</div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="startDate">Range: </label>
            <input type="date" id="start-date" class="form-control" name="startDate" ng-model="downloadedCardVm.dateRange.startDate"
                   placeholder="yyyy-MM-dd"/>
          </div>
          <div class="form-group">
            <label for="endDate">-</label>
            <input type="date" id="end-date" class="form-control" name="endDate" ng-model="downloadedCardVm.dateRange.endDate"
                   placeholder="yyyy-MM-dd"/>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="form-group">
            <label for="publisherSelectBtn">Publisher: </label>
            <select class="form-control" ng-model="downloadedCardVm.selectedPublisherFilter" name="publisherSelectBtn" id="publisher-select-btn" ng-change="downloadedCardVm.lineChartFilter()">
              <option ng-repeat="publisher in downloadedCardVm.availablePubishers" value="{{publisher}}">{{publisher | publisher}} ({{publisher}})</option>
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary" name="date-update" ng-click="downloadedCardVm.lineChartFilter()">Go! <i class="fa fa-arrow-right fa-fw"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> {{downloadedCardVm.selectedPublisherFilter | publisher}}
        </h3>
      </div>
      <div class="panel-body">
        <highchart id="linechart" config="downloadedCardVm.lineChartConfig"></highchart>
      </div>

      <div class="panel-footer">
        <div class="row">
        <form>
          <div class="col-sm-12 form-group">
            <label for="rangeSelectBtn">Range: </label>
            <select class="form-control" ng-model="downloadedCardVm.selectedRange" name="rangeSelectBtn" id="range-select-btn" ng-change="downloadedCardVm.lineChartFilter()">
              <option ng-repeat="range in downloadedCardVm.availableRanges" value="{{range}}">{{range | titleCase}}</option>
            </select>
          </div>
        </form>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{downloadedCardVm.selectedRange | titleCase}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="range in downloadedCardVm.availableRanges">
              <a href="" ng-click="downloadedCardVm.selectDropdownRange(range)">{{range | titleCase}}</a>
            </li>
          </ul>
          <button class="btn btn-success pull-right" type="button" name="downloadCSV" id="user-stats-download-btn" ng-click="downloadedCardVm.fetchAndDownloadCSV(downloadedCardVm.reversedDataContainer)">
              export CSV
          </button>
        </div>
      </div>
      <table class="myTable table table-striped table-bordered table-hover" id="linechart-table">
        <thead>
          <tr>
            <th class="col-sm-4">Date</th>
            <th class="col-sm-4 text-right">Downloaded Cards</th>
            <th class="col-sm-4 text-right">Change Net / %</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in downloadedCardVm.reversedDataContainer">
            <td class="col-sm-4" ng-style="downloadedCardVm.getDateColor({{item[0]}})">{{item[0] | date:'yyyy. MM. dd (EEE)'}}</td>
            <td class="col-sm-4 text-right">{{item[1] | number}}</td>
            <td class="col-sm-4 text-right increased" ng-if="item[2] > 0">
              {{(item[2]) | number}}
              <i class="fa fa-sort-asc fa-fw"></i>
              {{(item[3]) | percentage:2}}
            </td>
            <td class="col-sm-4 text-right decreased" ng-if="item[2] < 0">
              {{(item[2]) | number}}
              <i class="fa fa-sort-desc fa-fw"></i>
              {{(item[3]) | percentage:2}}
            </td>
            <td class="col-sm-4 text-right" ng-if="item[2] === 0">
              0 <i class="fa fa-fw">-</i> 0.00%
            </td>
            <td class="col-sm-4 text-right" ng-if="item[2] === '-'">
               -
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <uib-pagination boundary-links="true" total-items="downloadedCardVm.totalItem + 1" ng-model="downloadedCardVm.currentPage"
                      ng-change="downloadedCardVm.pageChanged(downloadedCardVm.currentPage)" items-per-page="20" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
  </div>
</div>
