<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Custom Query</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="alert alert-danger hide" id="date-alert-msg" role="alert">{{customQueryVm.alertMsgContent}}</div>
        <form>
          <div class="form-group">
            <label for="custom-query-string"><h4>Query Editor</h4></label>
            <textarea class="form-control" rows="5" name="custom-query-string" ng-model="customQueryVm.customQueryString"></textarea>
          </div>
        </form>
        <form>
          <div class="form-group">
            <button type="button" class="btn btn-primary" name="query-update" ng-click="customQueryVm.triggerUpdateWithQueryString()" id="query-update">Go! <i class="fa fa-arrow-right fa-fw"></i></button>
          </div>
        </form>
        <hr>
        <form>
          <div class="form-group">
            <h4>Query Helper</h4>
          </div>
        </form>
        <form class="form-inline top-form">
          <div class="form-group">
            <label for="startDate">Range: </label>
            <input type="date" id="start-date" class="form-control" name="startDate" ng-model="customQueryVm.dateRange.startDate" 
              placeholder="yyyy-MM-dd" ng-change="customQueryVm.selectDateRange()"/>
          </div>
          <div class="form-group">
            <label for="endDate">-</label>
            <input type="date" id="end-date" class="form-control" name="endDate" ng-model="customQueryVm.dateRange.endDate" 
              placeholder="yyyy-MM-dd" ng-change="customQueryVm.selectDateRange()"/>
          </div>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="typeSelectBtn" id="type-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Type:</b> {{customQueryVm.selectedTypeFilter}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="type-select-btn">
                <li ng-repeat="type in customQueryVm.availableTypes">
                  <a href="" ng-click="customQueryVm.selectDropdownType(type)">{{type}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="roleSelectBtn" id="role-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Role:</b> {{customQueryVm.selectedRoleFilter | titleCase}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="role-select-btn">
                <li ng-repeat="role in customQueryVm.availableRoles">
                  <a href="" ng-click="customQueryVm.selectDropdownRole(role)">{{role | titleCase}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="deviceSelectBtn" id="device-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Device:</b> {{customQueryVm.selectedDeviceFilter}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="device-select-btn">
                <li ng-repeat="device in customQueryVm.availableDevices">
                  <a href="" ng-click="customQueryVm.selectDropdownDevice(device)"><i class="fa {{customQueryVm.iconAliases[device]}} fa-fw"></i> {{device}}</a>
                </li>
              </ul>
            </div>
          </div>

          <!--<div class="form-group">-->
            <!--<div class="dropdown">-->
              <!--<button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="methodSelectBtn" id="method-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                <!--<b>Method:</b> {{customQueryVm.selectedMethodFilter}}-->
                <!--<span class="caret"></span>-->
              <!--</button>-->
              <!--<ul class="dropdown-menu" aria-labelledby="method-select-btn">-->
                <!--<li ng-repeat="method in customQueryVm.availableMethods">-->
                  <!--<a href="" ng-click="customQueryVm.selectDropdownMethod(method)">{{method}}</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<div class="dropdown">-->
              <!--<button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="apiSelectBtn" id="api-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                <!--<b>API:</b> {{customQueryVm.selectedAPIFilter | titleCase}}-->
                <!--<span class="caret"></span>-->
              <!--</button>-->
              <!--<ul class="dropdown-menu" aria-labelledby="api-select-btn">-->
                <!--<li ng-repeat="api in customQueryVm.availableAPIs">-->
                  <!--<a href="" ng-click="customQueryVm.selectDropdownAPI(api)">{{api | titleCase}}</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="groupBySelectBtn" id="group-by-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Group By:</b> {{customQueryVm.selectedGroupByFilter | titleCase}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="group-by-select-btn">
                <li ng-repeat="groupBy in customQueryVm.availableGroupBys">
                  <a href="" ng-click="customQueryVm.selectDropdownGroupBy(groupBy)">{{groupBy | titleCase}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="chartSelectBtn" id="chart-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Chart Type:</b> {{customQueryVm.selectedChartType | titleCase}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="chart-select-btn">
                <li ng-repeat="type in customQueryVm.availableChartTypes">
                  <a href="" ng-click="customQueryVm.selectDropdownChartType(type)">{{type | titleCase}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-body">
        <highchart id="custom-query-graph" config="customQueryVm.lineChartConfig"></highchart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table table-striped table-bordered table-hover" id="linechart-table">
        <thead>
          <tr>
            <th>Subject</th>
            <th class="text-right">Min. Count</th>
            <th class="text-right">Max. Count</th>
            <th class="text-right">Average</th>
            <th class="text-right">Total Count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in customQueryVm.lineChartData">
            <td>{{item.name | titleCase}}</td>
            <td class="text-right">{{customQueryVm.getMinimum(item.data) | number}}</td>
            <td class="text-right">{{customQueryVm.getMaximum(item.data) | number}}</td>
            <td class="text-right">{{customQueryVm.getAverage(item.data) | number:0}}</td>
            <td class="text-right">{{customQueryVm.getSum(item.data) | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
