<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Downloadables</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Contacts of Daily Active Users (Teachers)</h5>
      </div>
      <div class="panel-body">
        <form name="userContactsForm" novalidate>
          <div class="form-group">
            <label for="roleSelectBtn">Year: </label>
            <select class="form-control" ng-model="userContactsVm.selectedYearFilter" name="yearSelectBtn" id="year-select-btn" ng-change="userContactsVm.selectYearFilter()">
              <option ng-repeat="year in userContactsVm.availableYears" value="{{year}}">{{year}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="deviceSelectBtn">Month: </label>
            <select class="form-control" ng-model="userContactsVm.selectedMonthFilter" name="monthSelectBtn" id="month-select-btn">
              <option ng-repeat="month in userContactsVm.availableMonths" value="{{month}}">{{month | month}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="countrySelectBtn">Country: </label>
            <select class="form-control" ng-model="userContactsVm.selectedCountryFilter" name="countrySelectBtn" id="country-select-btn">
              <option value="all">All</option>
              <option ng-repeat="country in userContactsVm.availableCountries" value="{{country}}">{{country | country}}</option>
              <option value="etc">Others</option>
            </select>
          </div>
          <button type="button" class="btn btn-success" name="download" ng-click="userContactsVm.fetchAndDownloadCSV('user-contacts')" id="user-contacts-download-btn"><i class="fa fa-share-square-o fa-fw"></i> export CSV</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-8">
            <h5>Contacts of Japanese Users (Teachers)</h5>
          </div>
          <div class="col-lg-4 text-right-media">
            <button type="button" class="btn btn-success" name="download" ng-click="userContactsVm.fetchAndDownloadCSV('jp-teachers')" id="jp-user-contacts-download-btn"><i class="fa fa-share-square-o fa-fw"></i> export CSV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-8">
            <h5>List of classes in Japan</h5>
          </div>
          <div class="col-lg-4 text-right-media">
            <button type="button" class="btn btn-success" name="download" ng-click="userContactsVm.fetchAndDownloadCSV('jp-classes')" id="jp-classes-download-btn"><i class="fa fa-share-square-o fa-fw"></i> export CSV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
