<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Up/Down</h3>
      </div>
      <div class="panel-body">
        <highchart id="user-stats" config="userStatsVm.lineChartConfig"></highchart>
      </div>
      <div class="panel-footer">
        <form class="form-inline">
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="roleSelectBtn" id="user-role-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Role:</b> {{userStatsVm.selectedRoleFilter | titleCase}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-role-select-btn">
                <li ng-repeat="role in userStatsVm.availableRoles">
                  <a href="" ng-click="userStatsVm.selectDropdownRole(role)">{{role | titleCase}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="deviceSelectBtn" id="user-device-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Device:</b> {{userStatsVm.selectedDeviceFilter}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-device-select-btn">
                <li ng-repeat="device in userStatsVm.availableDevices">
                  <a href="" ng-click="userStatsVm.selectDropdownDevice(device)"><i class="fa {{userStatsVm.iconAliases[device]}} fa-fw"></i> {{device}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" name="countrySelectBtn" id="user-country-select-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Country:</b> {{userStatsVm.selectedCountryFilter}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-country-select-btn">
                <li ng-repeat="country in userStatsVm.availableCountries">
                  <a href="" ng-click="userStatsVm.selectDropdownCountry(country)"><span class="flag-icon {{userStatsVm.iconAliases[country]}}"></span> {{country}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" name="update" ng-click="userStatsVm.updateData()" id="user-stats-update-btn"><i class="fa fa-refresh fa-fw"></i> update</button>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-success" type="button" name="downloadCSV" id="user-stats-download-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                export CSV
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-stats-download-btn">
                <li ng-repeat="option in userStatsVm.availableDownloadOptions">
                  <a href="" ng-click="userStatsVm.fetchAndDownloadCSV(option)">{{option}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table table-striped table-bordered table-hover" id="linechart-table">
        <thead>
          <tr>
            <th>Subject</th>
            <th class="text-right">Min. Count</th>
            <th class="text-right">Max. Count</th>
            <th class="text-right">Average</th>
            <th class="text-right">Total Count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in userStatsVm.lineChartData">
            <td>{{item.name | titleCase}}</td>
            <td class="text-right">{{userStatsVm.getMinimum(item.data) | number}}</td>
            <td class="text-right">{{userStatsVm.getMaximum(item.data) | number}}</td>
            <td class="text-right">{{userStatsVm.getAverage(item.data) | number:0}}</td>
            <td class="text-right">{{userStatsVm.getSum(item.data) | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>